Repository theoludwig/html-w3c-validator: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix

.lintstagedrc.json:

{
  "*": ["editorconfig-checker"],
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --fix"],
  "*.{yml,json}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint --dot --fix"]
}

Notes added by 'git notes add'
  e762c0fad5814efa615ad6028630a6c12db46e14
Due: editorconfig-checker

fix: only consider errors (excluding warning/info messages)
  .vscode/settings.json
  README.md
  example/.html-w3c-validatorrc.json
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
  src/HTMLValidatorCommand.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix

perf: run validations in parallel
  example/package-lock.json
  package-lock.json
  package.json
  src/HTMLValidatorCommand.ts
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  6ca7722fcfb0784323c56620a04d520fcb2a4e42
Due: editorconfig-checker

fix: update dependencies to latest
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  .markdownlint-cli2.jsonc
  .markdownlint.json
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
  src/HTMLValidatorCommand.ts
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  943b3d1fd69fd9625685644cef451b9af2a97ab1
Due: editorconfig-checker

build(deps): update latest
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

build(deps): update latest
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .vscode/extensions.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  example/package-lock.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

feat: add npm package provenance
  .github/workflows/release.yml
  .npmrc
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  3d24ffe971ab6ff2dbba71d25b8ca31de79abdd3
Due: editorconfig-checker

refactor: usage of node:test instead of tap
  .taprc
  src/__test__/HTMLValidatorCommand.test.ts
  src/utils/__test__/isExistingPath.test.ts
Due: editorconfig-checker, prettier --write, eslint --fix

fix: update author - Théo LUDWIG
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package.json
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

perf: ignore test files in published package (reduce package size)
  package.json
Due: editorconfig-checker, prettier --write

feat: ability to specify the severity of the validator
  README.md
  src/HTMLValidatorCommand.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix

BREAKING CHANGE: change default validator severities: "warning" and "error"
  README.md
  src/HTMLValidatorCommand.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix

chore: enable source maps for easier debugging
  .swcrc
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  c7bf82135b783a829e3f2bf1221a4c2b5c7caeb7
Due: editorconfig-checker

chore: remove unneeded @types/tap dependency
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

build(deps): update latest
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

style: fix prettier issues
  example/build/about.html
  example/build/index.html
Due: editorconfig-checker

chore: simplify .swcrc config
  .swcrc
Due: editorconfig-checker

fix: update dependencies to latest
  example/package-lock.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

feat: add `--current-working-directory` option
  src/HTMLValidatorCommand.ts
Due: editorconfig-checker, prettier --write, eslint --fix

test: add automated tests
  .html-w3c-validatorrc.json
  .prettierignore
  example/package-lock.json
  package-lock.json
  package.json
  src/HTMLValidatorCommand.ts
  src/__test__/HTMLValidatorCommand.test.ts
  src/__test__/fixtures/error-config-invalid-files-and-urls/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-files/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-json/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-severities-empty/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-severities-empty/index.html
  src/__test__/fixtures/error-config-invalid-severities/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-severities/index.html
  src/__test__/fixtures/error-config-invalid-urls/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-not-found/.gitkeep
  src/__test__/fixtures/error-invalid-files-paths-to-check/.html-w3c-validatorrc.json
  src/__test__/fixtures/success/.html-w3c-validatorrc.json
  src/__test__/fixtures/success/build/about.html
  src/__test__/fixtures/success/build/index.html
Due: editorconfig-checker, prettier --write, eslint --fix

fix: only show error messages related to configured severities
  src/HTMLValidatorCommand.ts
  src/__test__/HTMLValidatorCommand.test.ts
  src/__test__/fixtures/error-invalid-w3c-html/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-invalid-w3c-html/build/about.html
  src/__test__/fixtures/error-invalid-w3c-html/build/index.html
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  e3cd809e56e5125a189022a8373b97030e67cf4c
Due: editorconfig-checker

chore: better Prettier config for easier reviews
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/DOCUMENTATION.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/IMPROVEMENT.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .prettierrc.json
  example/package.json
  package-lock.json
  package.json
  src/HTMLValidatorCommand.ts
  src/__test__/HTMLValidatorCommand.test.ts
  src/cli.ts
  src/index.ts
  src/packageJSON.ts
  src/utils/__test__/isExistingPath.test.ts
  src/utils/isExistingPath.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix

fix: update dependencies to latest
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .swcrc
  .vscode/settings.json
  LICENSE
  README.md
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

Notes added by 'git notes add'
  7dafa2401b336554ffdd65576d0bac60d9537b55
Due: editorconfig-checker

docs(license): add email address
  LICENSE
Due: editorconfig-checker

chore: cleaner configs
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  README.md
  example/package-lock.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

docs: add CLI option `--current-working-directory`
  README.md
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

refactor: simplify logic
  .github/workflows/lint.yml
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  README.md
  example/package-lock.json
  package-lock.json
  package.json
  src/HTMLValidatorCommand.ts
  src/__test__/HTMLValidatorCommand.test.ts
  src/utils/__test__/isExistingPath.test.ts
  src/utils/isExistingPath.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix

feat: add config JSON schema
  README.md
  example/.html-w3c-validatorrc.json
  schema/html-w3c-validatorrc-schema.json
  src/__test__/fixtures/error-config-invalid-files-and-urls/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-files/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-severities-empty/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-severities/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-config-invalid-urls/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-invalid-files-paths-to-check/.html-w3c-validatorrc.json
  src/__test__/fixtures/error-invalid-w3c-html/.html-w3c-validatorrc.json
  src/__test__/fixtures/success/.html-w3c-validatorrc.json
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

docs: update description
  README.md
  package.json
  src/HTMLValidatorCommand.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix

fix: improve config schema
  schema/html-w3c-validatorrc-schema.json
Due: editorconfig-checker, prettier --write

perf: remove usage of html-validator dependency
  example/package-lock.json
  package-lock.json
  package.json
  src/HTMLValidatorCommand.ts
  src/validateHTML.ts
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  6b28c6d224108d7671fecf1d043a6e46612a7f65
Due: editorconfig-checker

fix: wrong husky config
  package.json
Due: editorconfig-checker, prettier --write
